body {
    width: 100%;
}

img {
    border-radius: 50%;
}

#row {
    display: flex;
    flex-direction: row;
}

.left {
    flex-basis: 35%;
    padding-left: 3%;
}

.right {
    flex-basis: 55%;
    padding-left: 5%;
}

.sameLine {
    display: flex;
}

#sameLineLeft {
    flex-basis: 50%;
}

#sameLineRight {
    flex-basis: 50%;
}

ul li {
    padding-bottom: 0.5rem;
}

.topAndDown {
    height: 7%;
    background-color: #658bc9;
}

.andDown {
    height: 7%;
    background-color: #658bc9;
}

.oppositetopAndDown {
    height: 7%;
    background-color: #ffff;
}

